.worlds-bg {
  background-image: url('../../../../app/assets/images/worlds-bg.svg');
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}